{% extends "base_template.html" %}

{% block title %}upload_script{% endblock %}

{% block additionalLinks %}
    <link rel="stylesheet" href="/static/css/new.css" />
{% endblock %}

{% block pageContent %}
<form method="POST" action="#" enctype="multipart/form-data">
    <h1>
        New script 
    </h1>
    <p>
        File : 
    </p>
    <input type="file" name="script" required />
    <p>
        Description : 
    </p>
    <textarea name="description"></textarea>
    <input type="submit" value="upload"/>
</form>
{% endblock %}